<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h2>Recordatorios</h2>
        </div>
    </div>
    <br/><br/>

    <div class="row headList">
        <div class="col-sm-2 borderRight"><label>Fecha</label></div>
        <div class="col-sm-1 borderRight"><label>Área</label></div>
        <div class="col-sm-3 borderRight"><label>Domicilio</label></div>
        <div class="col-sm-4"><label>Comentarios</label></div>
    </div>
    <div ng-repeat="event in calendar" ng-class-even="'row-even'" ng-class-odd="'row-odd'" class="row">
        <div class="col-sm-2">{{event.date | dateTimeFormat}}</div>
        <div class="col-sm-1">{{event.address.idArea}}</div>
        <div class="col-sm-3">
            <div ng-show="event.href">
                <a ng-href="#/areas/{{event.address.idArea}}/{{event.idSurveyAddress}}/details">
                    {{event.address.street}} {{event.address.streetNumber}} {{event.address.floor}}
                    {{event.address.department}}
                </a>
            </div>
            <div ng-hide="event.href">
                {{event.address.street}} {{event.address.streetNumber}} {{event.address.floor}}
                {{event.address.department}}
            </div>
        </div>
        <div class="col-sm-4">{{event.comment}}</div>
    </div>
    <div class="footerList"></div>
</div>