<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h2>Centro de notificaciones</h2>
        </div>
    </div>
    <br/><br/>

    <div class="row headList">
        <div class="col-sm-2 borderRight"><label>Fecha</label></div>
        <div class="col-sm-4 borderRight"><label>Remitente</label></div>
        <div class="col-sm-6"><label>Mensaje</label></div>
    </div>
    <div ng-repeat="notification in notifications" ng-class-even="'row-even'" ng-class-odd="'row-odd'" class="row">
        <div class="col-sm-2">{{notification.timestamp | utc | dateTimeFormat}}</div>
        <div class="col-sm-4">{{notification.sender}}</div>
        <div class="col-sm-6">{{notification.message}}</div>
    </div>
    <div class="footerList"></div>
</div>