<div>
    <input type="number" id="{{name}}" name="{{name}}" ng-model="section[answer]" min="{{minVal}}" max="{{maxVal}}" maxlength="{{maxLength}}"
            class="form-control" />

    <div ng-show="form[name].$dirty && form[name].$error.min" class="alert alert-warning">
        Atención: El valor mínimo es de {{minVal}}.
    </div>
    <div ng-show="form[name].$dirty && form[name].$error.max" class="alert alert-warning">
        Atención: El valor máximo es de {{maxVal}}.
    </div>
    <div ng-show="showWarningValue(form[name].$viewValue)" class="alert alert-warning">
        Atención: El valor {{form[name].$viewValue}} está permitido, pero asegurese de que sea correcto.
    </div>
</div>

