<div>
    <etc-alert-input-question
            section="section"
            answer="{{answer}}"
            min-val="{{minVal}}"
            max-val="{{maxVal}}"
            warning-values="{{warningValues}}">
    </etc-alert-input-question>

    <div ng-show="showDependsOfAlert(form[name].$viewValue, form[dependsOf].$viewValue)" class="alert alert-warning">
        Atención: Este campo no puede valer cero si la pregunta {{dependsOfNumber}} vale cero
    </div>
</div>

