<div class="row">
    <div class="col-sm-12">
        <div ng-repeat="question in questions | orderBy:value" ng-hide="questionHide(question.hiddenByCondition)">
            <input ng-change="valueChange(question.exclusive, $index)"
                   type="checkbox" id="{{name}}_{{$index}}" name="{{name}}_{{$index}}" ng-disabled="disableQuestionItem(question.exclusive, $index)"
                   ng-model="section[answer][$index]" ng-false-value="null"/>
            <label for="{{name}}_{{$index}}">{{question.name}}</label>
        </div>
    </div>
</div>