<div>
    <div ng-repeat="question in questions | orderBy:value">
        <input type="radio" id="{{answer}}{{$index}}" name="{{answer}}" ng-model="section[answer]" ng-value="question.value"/>
        <label for="{{answer}}{{$index}}">&nbsp;{{question.name}}</label>
    </div>
    <div ng-show="isOtherSelected()">
        <input type="text" id="{{answer}}Other" name="{{answer}}Other" ng-model="section[answerOther]" class="form-control"/>
    </div>
</div>