<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ENTIC</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/site.css">
</head>
<body ng-app="etcApp">
<div id="wrapper" prevent-right-click>
    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/areas">
                <img src="/images/entic.png" title="indec" alt="indec"/>
            </a>
        </div>
        <div class="main-nav navbar-top-links collapse navbar-collapse">
            <div ng-controller="navbarController" class="container">
                <ul class="nav nav-tabs">
                    <li><a href="#/areas"><span class="glyphicon glyphicon-th-list"></span> Encuestas</a></li>
                    <li><a href="#/sync"><span class="glyphicon glyphicon-transfer"></span> Sincronizar</a></li>
                    <li><a href="#/calendar"><span class="glyphicon glyphicon-calendar"></span> Recordatorios</a></li>
                    <li>
                        <a href="#/notifications">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <sup ng-show="unreadNotifications" class="unread">{{unreadNotifications}}</sup>
                        </a>
                    </li>
                    <li class="dropdown navbar-right">
                        <a href="#/signout"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
                    </li>
                </ul>
                <a href="#/notifications">
                    <alert ng-show="notificationAlert" type="warning" class="fadein fadeout">
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;{{notificationAlert}}
                    </alert>
                </a>
            </div>
        </div>
    </nav>

    <div ng-view></div>

    <footer class="row">
        <div class="row">
            <div class="col-sm-6">
                <br/>
                <span>Version 1.1.0</span>
            </div>
            <div class="col-sm-6 text-right" style="padding-top: 5px;">
                <img src="images/logo2.png" alt="INDEC" title="INDEC"/>
            </div>
        </div>
    </footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/localforage.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/ui-bootstrap-tpls.min.js"></script>
<script src="js/ng-breadcrumbs.min.js"></script>
<script src="js/angular-localForage.min.js"></script>
<script src="js/angular-local-storage.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/async.min.js"></script>
<script src="js/FileSaver.min.js"></script>
<script src="js/xlsx.full.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>