<div>
    <div class="modal-header">
        <h3>Detalles</h3>
    </div>
    <div class="modal-body">
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <strong>Área</strong>
                <br/>{{address.idArea}}
            </div>
            <div class="col-sm-6">
                <strong>Semana</strong>
                <br/>{{surveyAddress.week}}
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <strong>Localidad</strong>
                <br/>{{address.locality}}
            </div>
            <div class="col-sm-6">
                <strong>Barrio</strong>
                <br/>{{address.neighborhood}}
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <strong>Calle</strong>
                <br/>{{address.street}}
            </div>
            <div class="col-sm-6">
                <strong>Número</strong>
                <br/>{{address.streetNumber}}
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <strong>Piso</strong>
                <br/>{{address.floor}}
            </div>
            <div class="col-sm-6">
                <strong>Departamento</strong>
                <br/>{{address.department}}
            </div>
        </div>
        <br/>

        <div ng-show="address.description" class="row">
            <div class="col-sm-12">
                <strong>Descripción</strong>
                <br/>{{address.description}}
            </div>
        </div>
        <br/>
        <br/>

        <div class="row">
            <div class="col-sm-12 text-right">
                <button ng-click="ok()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>