<div id="page-wrapper">
    <div class="container">
        <etc-breadcrumbs></etc-breadcrumbs>
        <div class="row">
            <div class="col-sm-12">
                <h2>Áreas</h2>
            </div>
        </div>
        <div class="row headList">
            <div class="col-sm-1 borderRight"><label>Área</label></div>
            <div class="col-sm-4 borderRight"><label>Localidad</label></div>
            <div class="col-sm-3 borderRight"><label>Barrio</label></div>
            <div class="col-sm-2 borderRight"><label>Semana</label></div>
            <div class="col-sm-2"><label>Herramientas</label></div>
        </div>
        <div ng-repeat="area in areas | orderBy:'week'" ng-class-even="'row-even'" ng-class-odd="'row-odd'" class="row survey">
            <div class="col-sm-1">{{area.idArea}}</div>
            <div class="col-sm-4">{{area.locality}}</div>
            <div class="col-sm-3">{{area.neighborhood}}</div>
            <div class="col-sm-2">{{area.week}}</div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <a href="#/areas/{{area.idArea}}" class="btn">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footerList"></div>
    </div>
</div>
