<div id="page-wrapper">
    <div class="container">
        <etc-breadcrumbs></etc-breadcrumbs>
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <button ng-click="newCalendarEvent()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Recordatorios
                </button>
            </div>
            <div class="col-sm-3 text-right">
                <button ng-show="showCloseSurvey()" ng-click="closeSurvey()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>
                    Cerrar Encuesta
                </button>
            </div>
            <div ng-show="showNewVisit()" class="col-sm-3 text-right">
                <button ng-click="newVisit()" class="btn btn-success">
                    <span class="glyphicon glyphicon-edit"></span>
                    Nueva visita
                </button>
            </div>
            <div ng-show="surveyAddress && surveyAddress.closed" class="col-ms-3 text-right">
                <a ng-href="#areas/{{surveyAddress.address.idArea}}" class="btn btn-success">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    Volver
                </a>
            </div>
        </div>
        <br/>

        <form name="calendarForm" ng-show="calendar" ng-submit="saveCalendar()" role="form">
            <hr/>
            <div class="row">
                <div class="col-sm-9"><h3>Nuevo evento</h3></div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-3 marginTopCalendar">
                    <label for="calendarDate"><strong>Fecha y hora</strong></label>
                    <input type="date" id="calendarDate" name="calendarDate" ng-model="calendar.date" required
                           class="form-control"/>
                </div>
                <div class="col-sm-3 btnCalendar">
                    <timepicker ng-model="calendar.date" hour-step="1" minute-step="15"
                                show-meridian="ismeridian"></timepicker>
                </div>
                <div class="col-sm-6 marginTopCalendar">
                    <label for="calendarComment">Comentarios</label>
                    <input type="text" id="calendarComment" name="calendarComment" ng-model="calendar.comment"
                           maxlength="140" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 text-right">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
                <div class="col-sm-2">
                    <button ng-click="calendar = null" class="btn btn-danger saveButton">Cancelar</button>
                </div>
            </div>
            <hr/>
        </form>

        <div class="row">
            <div class="col-sm-6">
                <h2>Encuesta</h2>
            </div>
        </div>
        <div class="row row-odd">
            <div class="col-sm-8">
                <label>Calle: </label>
                {{surveyAddress.address.street}}
            </div>
            <div class="col-sm-2">
                <label>Número: </label>
                {{surveyAddress.address.streetNumber}}
            </div>
            <div class="col-sm-2">
                <span ng-class="validate(surveyAddress)" class="glyphicon"></span>
                <span ng-show="surveyAddress.closed"><i class="glyphicon glyphicon-lock"></i> Cerrada</span>
            </div>
        </div>
        <div class="row row-even">
            <div class="col-sm-4">
                <label>Piso: </label>
                {{surveyAddress.address.floor}}
            </div>
            <div class="col-sm-4">
                <label>Depto: </label>
                {{surveyAddress.address.department}}
            </div>
            <div class="col-sm-4">
                <label>Pieza: </label>
                {{surveyAddress.address.room}}
            </div>
        </div>
        <br/>
        <hr/>
        <br/>

        <div ng-hide="surveyAddress.visits && surveyAddress.visits.length" class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center alert alert-info">
                No hay visitas registradas
            </div>
        </div>
        <div ng-show="surveyAddress.visits && surveyAddress.visits.length">
            <div class="row headList">
                <div class="col-sm-2 borderRight"><label># Visita</label></div>
                <div class="col-sm-3 borderRight"><label>Fecha</label></div>
                <div class="col-sm-2 borderRight"><label>Código</label></div>
                <div class="col-sm-3"><label>Observaciones</label></div>
            </div>
            <div ng-repeat="visit in surveyAddress.visits" ng-class-even="'row-even'" ng-class-odd="'row-odd'"
                 class="row survey">
                <div class="col-sm-2">{{visit.order}}</div>
                <div class="col-sm-3">{{visit.date | dateTimeFormat}}</div>
                <div class="col-sm-2">{{visit.noInterviewCause}}</div>
                <div class="col-sm-5">{{visit.comments}}</div>
                <br/>
            </div>
            <div class="footerList"></div>
            <div class="row headList">
                <div class="col-sm-2 borderRight">Viv/Hogar</div>
                <div class="col-sm-4 borderRight">Jefe/a</div>
                <div class="col-sm-3 borderRight">Teléfono</div>
                <div class="col-sm-3">Celular</div>
            </div>
            <div ng-repeat="house in surveyAddress.houses">
                <div ng-repeat="home in house.homes" class="row listPadding">
                    <div class="col-sm-2">{{house.order}} / {{home.order}}</div>
                    <div class="col-sm-4">{{getBoss(home)}}</div>
                    <div class="col-sm-3">{{home.telephone}}</div>
                    <div class="col-sm-3">{{home.mobilePhone}}</div>
                </div>
            </div>
            <div class="footerList"></div>
        </div>
        <form name="visitForm" ng-submit="saveVisit()" ng-show="visit" role="form">
            <hr/>
            <div class="row">
                <h3>Nueva visita Nro: {{visit.order}}</h3>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="date"><strong>
                        <div class="heighTop">Fecha y hora</div>
                    </strong></label>
                    <input type="date" id="date" name="date" ng-model="visit.date" required
                           class="form-control"/>
                </div>
                <div class="col-sm-3">
                    <timepicker ng-model="visit.date" hour-step="1" minute-step="15"
                                show-meridian="ismeridian"></timepicker>
                </div>
                <div class="col-sm-6">
                    <label for="comments">
                        <div class="weightText heighTop">Observaciones</div>
                    </label>
                    <input type="text" id="comments" name="comments" ng-model="visit.comments"
                           ng-required="visit.hasInterview === false" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label><strong>Indique si la vivienda es encuestable</strong></label>
                    <br/>

                    <div class="btn-group">
                        <label ng-model="visit.hasInterview" btn-radio="true"
                               class="btn btn-default">Si</label>
                        <label ng-model="visit.hasInterview" btn-radio="false"
                               class="btn btn-default">No</label>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div ng-show="visit.hasInterview === false" class="col-sm-12">
                    <label><strong>Razón de no respuesta</strong></label>

                    <div ng-repeat="question in noInterviewCauses">
                        <input type="radio" id="noInterviewCause{{$index}}" name="noInterviewCause"
                               ng-model="visit.noInterviewCause" ng-required="visit.hasInterview === false"
                               ng-value="question.value"/>
                        <label for="noInterviewCause{{$index}}">&nbsp;{{question.name}}</label>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-10 text-right">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
                <div class="col-sm-2">
                    <button ng-click="visit = null" class="btn btn-danger saveButton">Cancelar</button>
                </div>
            </div>
            <br/><br/>
        </form>
    </div>
</div>