<div ng-controller="detectingHomesController">

    <div class="row">
        <div class="col-sm-12">
            <h2>Detección de viviendas y hogares (DV)</h2>
        </div>
    </div>
    <br/>

    <form name="detectingHomesForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="weightText">1. ¿Existen otras viviendas en esta misma dirección?</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group">
                            <label ng-model="house.detectingHomes.moreHouses" btn-radio="true"
                                   class="btn btn-default">Si</label>
                            <label ng-model="house.detectingHomes.moreHouses" btn-radio="false"
                                   class="btn btn-default">No</label>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="weightText">2. ¿Todas las personas que residen en esta vivienda comparten los gastos de comida?</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group">
                            <label ng-model="house.detectingHomes.isFoodExpensesShared" btn-radio="true"
                                   class="btn btn-default">Si</label>
                            <label ng-model="house.detectingHomes.isFoodExpensesShared" btn-radio="false"
                                   class="btn btn-default">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default col-sm-12">
                    <div class="row">
                        <br/>
                        <label class="weightText">3. ¿En este/estos hogar/es hay...</label>

                        <div class="col-sm-8">
                            <label>...servicio doméstico con cama adentro?</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group text-right">
                                <label ng-model="house.detectingHomes.domesticService" btn-radio="true"
                                       class="btn btn-default">Si</label>
                                <label ng-model="house.detectingHomes.domesticService" btn-radio="false"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <label>...pensionistas?</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group text-right">
                                <label ng-model="house.detectingHomes.pensioners" btn-radio="true"
                                       class="btn btn-default">Si</label>
                                <label ng-model="house.detectingHomes.pensioners" btn-radio="false"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>

            <div class="col-sm-4">
                <label for="homes" class="weightText">4. Anote la cantidad de hogares que residen en esta
                    vivienda.</label>

                <etc-alert-input-question
                        section="house.detectingHomes"
                        name="homes"
                        answer="homes"
                        min-val="{{minValue}}">
                </etc-alert-input-question>

                <div ng-show="showHomesMinValue()" class="alert alert-warning" role="alert">
                    <strong>Atención:</strong> la cantidad mínima de hogares es {{minValue}}.
                </div>

                <div ng-show="showHomesAlert()" class="alert alert-warning" role="alert">
                    <strong>Atención:</strong> revise la cantidad de hogares.
                </div>
            </div>
        </div>
    </form>
</div>
