<div id="page-wrapper">
    <div class="container">
        <etc-breadcrumbs></etc-breadcrumbs>
        <div ng-include="currentNode.templateUrl"></div>
        <br/>
        <hr/>
        <div class="row">
            <div class="col-sm-4">
                <a ng-show="currentNode.parent" ng-click="backTo()" class="btn btn-primary">Anterior</a>
            </div>
            <div class="col-sm-4 text-center">
                <button ng-click="close()" class="btn btn-danger">
                    <span class="glyphicon glyphicon-lock"></span>
                    Guardar y volver a hogares
                </button>
            </div>
            <div class="col-sm-4 text-right">
                <a ng-show="currentNode.children.length" style="margin-left: 5px;" class="btn btn-primary"
                   ng-click="moveTo(0)">Siguiente</a>
            </div>
        </div>
        <br/><br/>

        <div ng-show="home.order == 1" class="row">
            <div class="col-sm-1 text-right">
                <span ng-show="currentNode.id == 1"><span class="glyphicon glyphicon-arrow-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHouseClass('validateDetectingHomes'))">
                <span ng-class="getGlyphicon(validHouseClass('validateDetectingHomes'))"></span>
                &nbsp;<span ng-class="isHighlighted(1)">Detección de hogares y viviendas (DV)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 text-right">
                <span ng-show="currentNode.id == 2"><span class="glyphicon glyphicon-arrow-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHomeClass('validateHomeComponents'))">
                <span ng-class="getGlyphicon(validHomeClass('validateHomeComponents'))"></span>
                &nbsp;<span ng-class="isHighlighted(2)">Componentes del hogar (CH)</span>
            </div>
        </div>
        <div ng-show="home.order == 1" class="row">
            <div class="col-sm-1 text-right">
                <span ng-show="currentNode.id == 3"><span class="glyphicon glyphicon-arrow-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHouseClass('validateHouseSpecifications'))">
                <span ng-class="getGlyphicon(validHouseClass('validateHouseSpecifications'))"></span>
                &nbsp;<span ng-class="isHighlighted(3)">Caracteristicas de la vivienda (CV)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 text-right">
                <span ng-show="currentNode.id == 4"><span class="glyphicon glyphicon-arrow-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHomeClass('validateHomeCharacteristics'))">
                <span ng-class="getGlyphicon(validHomeClass('validateHomeCharacteristics'))"></span>
                &nbsp;<span ng-class="isHighlighted(4)">Características habitacionales del hogar (HO)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 text-right">
                <span ng-show="currentNode.id == 5"><span class="glyphicon glyphicon-arrow-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHomeClass('validateHomeRevenue'))">
                <span ng-class="getGlyphicon(validHomeClass('validateHomeRevenue'))"></span>
                &nbsp;<span ng-class="isHighlighted(5)">Ingresos del hogar (IH)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 text-right">
                <span ng-show="currentNode.id == 6"><span class="glyphicon glyphicon-arrow-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHomeClass('validateHomeTechnologyAccess'))">
                <span ng-class="getGlyphicon(validHomeClass('validateHomeTechnologyAccess'))"></span>
                &nbsp;<span ng-class="isHighlighted(6)">Acceso a tecnología en el hogar (AT)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <span ng-show="currentNode.id == 7"><span class="glyphicon glyphicon-arrow-right pull-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHomeClass('validateTechnologyUsage'))">
                <span ng-class="getGlyphicon(validHomeClass('validateTechnologyUsage'))"></span>
                &nbsp;<span ng-class="isHighlighted(7)">Uso de tecnología por cada uno de los integrantes del hogar (UT)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <span ng-show="currentNode.id == 8"><span class="glyphicon glyphicon-arrow-right pull-right"></span></span>
            </div>
            <div class="col-sm-11" ng-class="getSemaphore(validHomeClass('validateEmploymentSituation'))">
                <span ng-class="getGlyphicon(validHomeClass('validateEmploymentSituation'))"></span>
                &nbsp;<span ng-class="isHighlighted(8)">Situación Laboral (SL)</span>
            </div>
        </div>
    </div>
    <br/><br/>
</div>