<div ng-controller="employmentSituationController">
    <div class="row">
        <div class="col-sm-12">
            <h2>Situación Laboral (SL)</h2>
        </div>
    </div>
    <br/>

    <form name="employmentSituationForm">
        <div class="row" ng-show="existsPersonWithoutAge()">
            <div class="col-sm-10 col-sm-offset-1 alert alert-danger text-center">
                Existe un componente de este hogar sin edad asignada.
            </div>
        </div>
        <div class="row" ng-show="existsPersonOlderThan14()">
            <div class="col-sm-10 col-sm-offset-1 alert alert-danger text-center">
                No se ingresaron componentes de hogar mayores de 14 años para este hogar.
            </div>
        </div>
        <accordion close-others="true">
            <accordion-group ng-repeat="person in home.people | filter: filterAgeOlderThan14" is-open="open[$index]">
                <accordion-heading>
                    {{$index + 1}} {{getPersonTitle(person)}}
                    <span ng-class="validateEmploymentSituation(person)" class="glyphicon"></span>
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': open[$index], 'glyphicon-chevron-right': !open[$index]}"></i>
                </accordion-heading>
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="weightText">1. ¿La semana pasada, trabajó por lo menos una hora?</label>
                            <br/>

                            <div class="btn-group">
                                <label ng-model="person.employmentSituation.workedLastWeek" btn-radio="1"
                                       class="btn btn-default">Sí</label>
                                <label ng-model="person.employmentSituation.workedLastWeek" btn-radio="2"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row" ng-show="showWorkedOtherLastWeek(person)">
                        <div class="col-sm-12">
                            <label class="weightText">2. En esa semana, ¿hizo alguna changa, fabricó algo para vender, ayudó a un
                                familiar/amigo en su negocio?</label>
                            <br/>

                            <div class="btn-group">
                                <label ng-model="person.employmentSituation.workedOtherLastWeek" btn-radio="1"
                                       class="btn btn-default">Sí</label>
                                <label ng-model="person.employmentSituation.workedOtherLastWeek" btn-radio="2"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row" ng-show="showNotWorkedLastWeekReason(person)">
                        <div class="col-sm-12">
                            <label class="weightText">3. ¿La semana pasada…</label>

                            <div class="row" ng-repeat="question in notWorkedLastWeekReason">
                                <div class="col-sm-12">
                                    <input type="radio" id="notWorkedLastWeekReason{{$parent.$index}}_{{$index}}"
                                           name="notWorkedLastWeekReason{{$parent.$index}}"
                                           ng-model="person.employmentSituation.notWorkedLastWeekReason"
                                           ng-value="question.value"/>
                                    <label for="notWorkedLastWeekReason{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showNotWorkedLastWeekNotPresent(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">4. ¿No concurrió por…</label>

                            <div class="row" ng-repeat="question in notWorkedLastWeekNotPresent">
                                <div class="col-sm-12">
                                    <input type="radio" id="notWorkedLastWeekNotPresent{{$parent.$index}}_{{$index}}"
                                           name="notWorkedLastWeekNotPresent{{$parent.$index}}"
                                           ng-model="person.employmentSituation.notWorkedLastWeekNotPresent"
                                           ng-value="question.value"/>
                                    <label for="notWorkedLastWeekNotPresent{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showWorkLastThirtyDays(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">5. En los últimos 30 días ¿estuvo buscando trabajo de alguna manera? ¿consultó
                                amigos/parientes, puso carteles, hizo algo para ponerse por su cuenta?</label>
                            <br/>
                            <div class="btn-group">
                                <label ng-model="person.employmentSituation.workLastThirtyDays" btn-radio="1"
                                       class="btn btn-default">Sí</label>
                                <label ng-model="person.employmentSituation.workLastThirtyDays" btn-radio="2"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="showNotWorkLastThirtyDaysReason(person)">
                        <div class="col-sm-12">
                            <label class="weightText">6. Durante esos 30 días, ¿no buscó trabajo porque…</label>

                            <div class="row" ng-repeat="question in notWorkLastThirtyDaysReason">
                                <div class="col-sm-12">
                                    <input type="radio" id="notWorkLastThirtyDaysReason{{$parent.$index}}_{{$index}}"
                                           name="notWorkLastThirtyDaysReason{{$parent.$index}}"
                                           ng-model="person.employmentSituation.notWorkLastThirtyDaysReason"
                                           ng-value="question.value"/>
                                    <label for="notWorkLastThirtyDaysReason{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showWorkMainOccupation(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">7. En la OCUPACION PRINCIPAL (si tiene más de una aquella que habitualmente le lleva más
                                horas), ¿trabaja...</label>

                            <div class="row" ng-repeat="question in workMainOccupation">
                                <div class="col-sm-12">
                                    <input type="radio" id="workMainOccupation{{$parent.$index}}_{{$index}}"
                                           name="workMainOccupation{{$parent.$index}}"
                                           ng-model="person.employmentSituation.workMainOccupation"
                                           ng-value="question.value"/>
                                    <label for="workMainOccupation{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showWorkPaysSalary(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">8. ¿En ese negocio/empresa/actividad se emplean personas asalariadas?</label>
                            <br/>

                            <div class="btn-group">
                                <label ng-model="person.employmentSituation.workPaysSalary" btn-radio="1"
                                       class="btn btn-default">Sí</label>
                                <label ng-model="person.employmentSituation.workPaysSalary" btn-radio="2"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showWorkPaysRetirement(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">9. Por ese trabajo, ¿tiene descuento jubilatorio?</label>
                            <br/>

                            <div class="btn-group">
                                <label ng-model="person.employmentSituation.workPaysRetirement" btn-radio="1"
                                       class="btn btn-default">Sí</label>
                                <label ng-model="person.employmentSituation.workPaysRetirement" btn-radio="2"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showWorkDuration(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">10. ¿Esa ocupación es…</label>

                            <div class="row" ng-repeat="question in workDuration">
                                <div class="col-sm-12">
                                    <input type="radio" id="workDuration{{$parent.$index}}_{{$index}}"
                                           name="workDuration{{$parent.$index}}"
                                           ng-model="person.employmentSituation.workDuration"
                                           ng-value="question.value"/>
                                    <label for="workDuration{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showWorkWeeklyHours(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">11. ¿Cuántas horas semanales trabaja habitualmente en TODOS sus
                                empleos / ocupaciones?</label>

                            <div class="row" ng-repeat="question in workWeeklyHours">
                                <div class="col-sm-12">
                                    <input type="radio" id="workWeeklyHours{{$parent.$index}}_{{$index}}"
                                           name="workWeeklyHours{{$parent.$index}}"
                                           ng-model="person.employmentSituation.workWeeklyHours"
                                           ng-value="question.value"/>
                                    <label for="workWeeklyHours{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showWishWorkMoreHours(person)">
                        <div class="col-sm-12">
                            <br/>
                            <label class="weightText">12. ¿Desearía trabajar más horas?</label>
                            <br/>

                            <div class="btn-group">
                                <label ng-model="person.employmentSituation.wishWorkMoreHours" btn-radio="1"
                                       class="btn btn-default">Sí</label>
                                <label ng-model="person.employmentSituation.wishWorkMoreHours" btn-radio="2"
                                       class="btn btn-default">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </form>
</div>