<div ng-controller="homeCharacteristicsController">
    <div class="row">
        <div class="col-sm-12">
            <h2>Características habitacionales del hogar (HO)</h2>
        </div>
    </div>
    <form name="homeCharacteristicsForm" role="form">
        <div class="row">
            <div class="col-sm-12">
                <br/>
                <label for="roomCount" class="weightText">1. ¿Cuántos ambientes/habitaciones tiene este hogar para su uso exclusivo?</label>
                    <br/>(excluyendo baño, cocina, pasillo, lavadero, garaje)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <etc-alert-input-question
                        section="home.characteristics"
                        name="roomCount"
                        answer="roomCount"
                        min-val="0"
                        max-val="20">
                </etc-alert-input-question>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <label for="bedroomCount" class="weightText">2. De esos ambientes, ¿Cuántos usan habitualmente para dormir?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <etc-alert-input-question
                        section="home.characteristics"
                        name="bedroomCount"
                        answer="bedroomCount"
                        min-val="0"
                        max-val="20">
                </etc-alert-input-question>
                <div ng-show="home.characteristics.bedroomCount > home.characteristics.roomCount" class="alert alert-warning" role="alert">
                    Este valor no puede ser mayor a la cantidad de ambientes/habitaciones
                </div>
            </div>
        </div>
    </form>
</div>
