<div ng-controller="homeTechnologyAccessController">
    <div class="row">
        <div class="col-sm-12">
            <h2>Acceso a tecnología en el hogar (AT)</h2>
            <br/>
            <div class="alert alert-info" role="alert">
                Ahora voy a hacerle una serie de preguntas referidas al acceso de tecnología en este hogar.
            </div>
        </div>
    </div>
    <br/>
    {{home.characteristics.characteristics}}
    <form name="homeTechnologyAccessForm">
        <div class="row">
            <div class="col-sm-12">
                <label class="weightText">1. En este hogar, ¿tiene algún aparato de radio que funcione (que
                sintonice AM /FM)?</label>

                <div class="btn-group">
                    <label ng-model="home.technologyAccess.hasRadio" btn-radio="1"
                           class="btn btn-default">Si</label>
                    <label ng-model="home.technologyAccess.hasRadio" btn-radio="2"
                           class="btn btn-default">No</label>
                    <label ng-model="home.technologyAccess.hasRadio" btn-radio="3"
                           class="btn btn-default">Ns/Nc</label>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-12">
                <label class="weightText">2. ¿Tiene algún aparato de televisión que funcione?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group">
                    <label ng-model="home.technologyAccess.hasTv" btn-radio="1"
                           class="btn btn-default">Si</label>
                    <label ng-model="home.technologyAccess.hasTv" btn-radio="2"
                           class="btn btn-default">No</label>
                    <label ng-model="home.technologyAccess.hasTv" btn-radio="3"
                           class="btn btn-default">Ns/Nc</label>
                </div>
            </div>
        </div>
        <br/>

        <div ng-show="showTvQuestions(home.technologyAccess)" class="panel panel-default panelPadding">
            <div class="row">
                <div class="col-sm-4">
                    <label class="weightText">2.1. ¿Cuántos?</label>
                    <etc-alert-input-question
                            section="home.technologyAccess"
                            name="tvCount"
                            answer="tvCount"
                            min-val="1"
                            max-val="99999"
                            warning-values="[9, 99, 999, 9999, 9999, 99999]">
                    </etc-alert-input-question>

                    <div ng-show="home.technologyAccess.tvCount > home.characteristics.roomCount"
                         class="alert alert-warning" role="alert">
                        Atención: Revise la cantidad de televisores.
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-12">
                    <label class="weightText">2.2. El tipo de señal que recibe el aparato de televisión, ¿es...</label>
                    <br/>
                    <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                    <etc-multi-check-question
                            section="home.technologyAccess"
                            answer="tvSignal" ng-name="tvSignal"
                            questions="tvSignal"></etc-multi-check-question>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-md-12">
                    <label class="weightText">2.3. La señal que más utiliza, ¿dispone de…</label>
                </div>
            </div>

            <div class="row" ng-repeat="question in tvChannels | orderBy : value">
                <div class="col-md-12">
                    <input type="radio" id="tvChannels{{$index}}" name="tvChannels"
                           ng-model="home.technologyAccess.tvChannels"
                           ng-value="question.value"/>
                    <label for="tvChannels{{$index}}">&nbsp;{{question.name}}</label>
                </div>
            </div>
            <br/>

            <div class="row" ng-show="showTvChildrenAudience(home.technologyAccess)">
                <div class="col-md-12">
                    <label class="weightText">2.4. En los últimos 3 meses ¿se realizó en este hogar algún control sobre lo que los menores de 18
                        años del hogar miran en la televisión por...</label>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <label ng-model="home.technologyAccess.tvChildrenAudience" btn-radio="1"
                                       class="btn btn-default">Si</label>
                                <label ng-model="home.technologyAccess.tvChildrenAudience" btn-radio="2"
                                       class="btn btn-default">No</label>
                                <label ng-model="home.technologyAccess.tvChildrenAudience" btn-radio="3"
                                       class="btn btn-default">Ns/Nc</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-show="showTvChildrenAudienceControl(home.technologyAccess)">
                <div class="col-sm-12">
                    <label class="weightText">2.4.1. ¿El control se realizó...</label>
                    <br/>
                    <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                    <etc-multi-check-question
                            section="home.technologyAccess"
                            answer="tvChildrenAudienceControl" ng-name="tvChildrenAudienceControl"
                            questions="tvChildrenAudienceControl"></etc-multi-check-question>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="weightText">3. En este hogar, ¿tiene línea telefónica fija?</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group marginInput">
                    <label ng-model="home.technologyAccess.hasFixedTelephoneLine" btn-radio="1"
                           class="btn btn-default">Si</label>
                    <label ng-model="home.technologyAccess.hasFixedTelephoneLine" btn-radio="2"
                           class="btn btn-default">No</label>
                    <label ng-model="home.technologyAccess.hasFixedTelephoneLine" btn-radio="3"
                           class="btn btn-default">Ns/Nc</label>
                </div>
            </div>
        </div>

        <div class="row panel panel-default panelPadding" ng-show="showFixedTelephoneLineCount(home.technologyAccess)">
            <div class="col-sm-4">
                <label class="weightText">3.1. ¿Cuántas?</label>

                <etc-alert-input-question
                        section="home.technologyAccess"
                        name="fixedTelephoneLineCount"
                        answer="fixedTelephoneLineCount"
                        min-val="1"
                        max-val="99999"
                        warning-values="[9, 99, 999, 9999, 9999, 99999]">
                </etc-alert-input-question>

                <div ng-show="home.technologyAccess.fixedTelephoneLineCount > 2" class="alert alert-warning"
                     role="alert">
                    Atención: Revise la cantidad de líneas.
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <label class="weightText">4. En este hogar, ¿tienen líneas activas de telefonía celular?</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <div class="btn-group marginInput">
                    <label ng-model="home.technologyAccess.hasMobileTelephoneLine" btn-radio="1"
                           class="btn btn-default">Sí</label>
                    <label ng-model="home.technologyAccess.hasMobileTelephoneLine" btn-radio="2"
                           class="btn btn-default">No</label>
                    <label ng-model="home.technologyAccess.hasMobileTelephoneLine" btn-radio="3"
                           class="btn btn-default">Ns/Nc</label>
                </div>
            </div>
        </div>
        <div class="row panel panel-default panelPadding" ng-show="showMobileTelephoneLineCount(home.technologyAccess)">
            <div class="col-sm-4">
                <label class="weightText">4.1. ¿Cuántas?</label>

                <etc-alert-input-question
                        section="home.technologyAccess"
                        name="mobileTelephoneLineCount"
                        answer="mobileTelephoneLineCount"
                        min-val="1"
                        max-val="99999"
                        warning-values="[9, 99, 999, 9999, 9999, 99999]">
                </etc-alert-input-question>

                <div ng-show="home.technologyAccess.mobileTelephoneLineCount > (home.people.length*2)"
                     class="alert alert-warning" role="alert">
                    Atención: Revise la cantidad de líneas.
                </div>
            </div>
        </div>
        <br/>


        <div class="row">
            <div class="col-md-6">
                <label class="weightText">5. En este hogar, ¿tienen computadoras?</label> (Incluye computadoras de escritorio, notebooks, netbooks,
                    tabletas).
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group marginInput">
                    <label ng-model="home.technologyAccess.hasComputers" btn-radio="1"
                           class="btn btn-default">Sí</label>
                    <label ng-model="home.technologyAccess.hasComputers" btn-radio="2"
                           class="btn btn-default">No</label>
                    <label ng-model="home.technologyAccess.hasComputers" btn-radio="3"
                           class="btn btn-default">Ns/Nc</label>
                </div>
            </div>
        </div>

        <div class="panel panel-default panelPadding" ng-show="showComputerQuestions(home.technologyAccess)">
            <div class="row">
                <div class="col-sm-12">
                    <label class="weightText">5.1 ¿Cuántas computadoras...</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="weightText">5.1.1. ... de escritorio tienen en este hogar?</label>

                    <etc-alert-input-computers-count-question
                            section="home.technologyAccess"
                            name="computerDesktopCount"
                            answer="computerDesktopCount"
                            min-val="0"
                            max-val="99999"
                            warning-values="[9, 99, 999, 9999, 9999, 99999]"
                            depends-of="computerNotebookCount"
                            depends-of-number="5.1.2">
                    </etc-alert-input-computers-count-question>

                    <div ng-show="home.technologyAccess.computerDesktopCount > home.characteristics.roomCount"
                         class="alert alert-warning" role="alert">
                         Atención: La cantidad de PCs de escritorio es mayor a la de habitaciones. Revise que sea correcto.
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-12">
                    <label class="weightText">5.1.2. ... portátiles tienen en este hogar?</label>

                    <etc-alert-input-computers-count-question
                            section="home.technologyAccess"
                            name="computerNotebookCount"
                            answer="computerNotebookCount"
                            min-val="0"
                            max-val="99999"
                            warning-values="[9, 99, 999, 9999, 9999, 99999]"
                            depends-of="computerDesktopCount"
                            depends-of-number="5.1.1">
                    </etc-alert-input-computers-count-question>

                    <div ng-show="home.technologyAccess.computerNotebookCount > home.people.length"
                         class="alert alert-warning" role="alert">
                        Atención: La cantidad de portátiles es mayor a la de componentes de hogar. Revise que sea correcto.
                    </div>
                </div>
            </div>
            <br/>

            <div class="row" ng-show="showFreeNotebookCount(home.technologyAccess)">
                <div class="col-sm-12">
                    <label class="weightText">5.1.2.1. ¿Cuántas de ellas fueron entregadas gratuitamente por un plan estatal
                        (por ejemplo: Conectar Igualdad)?</label>

                    <etc-alert-input-question
                            section="home.technologyAccess"
                            name="freeNotebookCount"
                            answer="freeNotebookCount"
                            min-val="0"
                            max-val="99999"
                            warning-values="[9, 99, 999, 9999, 9999, 99999]">
                    </etc-alert-input-question>

                    <div ng-show="home.technologyAccess.freeNotebookCount > home.technologyAccess.computerNotebookCount"
                         class="alert alert-warning" role="alert">
                        Atención: Revise este valor. Es mayor a su cantidad de portátiles.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="weightText">6. En este hogar ¿disponen de acceso a internet?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group">
                    <label ng-model="home.technologyAccess.hasInternetAccess" btn-radio="1"
                           class="btn btn-default">Sí</label>
                    <label ng-model="home.technologyAccess.hasInternetAccess" btn-radio="2"
                           class="btn btn-default">No</label>
                    <label ng-model="home.technologyAccess.hasInternetAccess" btn-radio="3"
                           class="btn btn-default">Ns/Nc</label>
                </div>
            </div>
        </div>
        <br/>

        <div class="panel panel-default panelPadding" ng-show="showInternetNotAccess(home.technologyAccess)">
            <div class="row">
                <div class="col-sm-12">
                    <label class="weightText">6.1.¿Cuál es el principal motivo por el que este hogar no tiene acceso a
                        Internet?</label>

                    <div class="row" ng-repeat="question in internetNotAccess | orderBy : value">
                        <div class="col-md-12">
                            <input type="radio" id="internetNotAccess{{$index}}" name="internetNotAccess"
                                   ng-model="home.technologyAccess.internetNotAccess"
                                   ng-value="question.value"/>
                            <label for="internetNotAccess{{$index}}">&nbsp;{{question.name}}</label>
                        </div>
                    </div>

                    <input type="text" ng-model="home.technologyAccess.internetNotAccessOther"
                           ng-show="showInternetNotAccessOther(home.technologyAccess)" name="internetNotAccessOther"
                           id="internetNotAccessOther" class="form-control"/>
                </div>
            </div>
        </div>
    </form>
</div>