<div id="page-wrapper">
    <div class="container">
        <etc-breadcrumbs></etc-breadcrumbs>
        <div class="row">
            <div class="col-sm-10">
                <h2>Hogares</h2>
            </div>
        </div>

        <div class="row headList">
            <div class="col-sm-3 borderRight"><label>Nro</label></div>
            <div class="col-sm-4 borderRight"><label>Jefe/a</label></div>
            <div class="col-sm-4"><label>Herramientas</label></div>
        </div>
        <div ng-repeat="home in house.homes" ng-class-even="'row-even'" ng-class-odd="'row-odd'" class="row survey">
            <div class="col-sm-3">
                Hogar {{home.order}}
            </div>
            <div class="col-sm-4">
                {{getBoss(home)}}
            </div>
            <div class="col-sm-3">
                <span ng-hide="home.noAnswer" ng-class="validate(home)" class="glyphicon"></span>
                <span ng-show="home.noAnswer" class="glyphicon glyphicon-ban-circle red"></span>

                <div class="btn-group">
                    <a ng-href="#/areas/{{surveyAddress.address.idArea}}/{{surveyAddress.id}}/houses/{{house.order}}/{{home.order}}"
                       ng-show="home.noAnswer === false" class="btn">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                    <a ng-click="isSurveyable(home)" ng-hide="home.noAnswer === false" class="btn">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footerList"></div>

        <form name="isSurveyableForm" ng-submit="save()" ng-show="home" role="form">
            <hr/>
            <div class="row">
                <h3>Indique si el hogar responde a la encuesta</h3>
                <br/>

                <div class="btn-group">
                    <label ng-model="home.noAnswer" btn-radio="false"
                           class="btn btn-default">Si</label>
                    <label ng-model="home.noAnswer" btn-radio="true"
                           class="btn btn-default">No</label>
                </div>
            </div>
            <br/>

            <div ng-show="home.noAnswer" class="row">
                <div class="col-sm-12">
                    <label><strong>Razón de no respuesta</strong></label>

                    <div class="row">
                        <div class="col-sm-12">
                            <div ng-repeat="question in noAnswerCauses">
                                <input type="radio" id="noAnswerCause{{$index}}" name="noAnswerCause"
                                       ng-model="home.noAnswerCause" ng-required="home.noAnswer"
                                       ng-value="question.value"/>
                                <label for="noAnswerCause{{$index}}">&nbsp;{{question.name}}</label>
                            </div>
                            <div ng-show="home.noAnswerCause == 11">
                                <input type="text" id="noAnswerCauseOther" name="noAnswerCauseOther"
                                       ng-model="home.noAnswerCauseOther"
                                       ng-required="home.noAnswer && home.noAnswerCause == 11" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    &nbsp;
                    <button ng-click="home = null" class="btn btn-danger saveButton">Cancelar</button>
                </div>
            </div>
        </form>
        <br/><br/>

        <div ng-hide="home" class="row">
            <div class="col-sm-2">
                <button ng-click="goToHouses()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Viviendas
                </button>
            </div>
        </div>

    </div>
</div>