<div ng-controller="homeRevenuesController">
    <div class="row">
        <div class="col-sm-12">
            <h2>Ingresos del hogar (IH)</h2>
            <br/>

        </div>
    </div>
    <br/>

    <form name="homeRevenuesControllerForm">
        <div class="row">
            <div class="col-sm-12">
                <label class="weightText">1. ¿Cuál es el ingreso total mensual del hogar?</label>
                (incluye ingresos provenientes del trabajo, jubilaciones, rentas, seguros de desempleo, becas, cuotas de
                alimentos, etc.)
                <br/><br/>

                <div class="row">
                    <div ng-repeat="monthlyRevenue in monthlyRevenues" class="col-sm-4">
                        <input type="radio" id="monthlyRevenue{{$index}}" name="monthlyRevenue"
                                ng-model="home.revenues.monthlyRevenue" ng-value="monthlyRevenue.value"/>
                        <label for="monthlyRevenue{{$index}}">{{monthlyRevenue.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-12">
                <div ng-show="home.revenues.monthlyRevenue == 1" class="col-sm-4">
                    <etc-alert-input-question
                            section="home.revenues"
                            name="monthlyRevenueQuantity"
                            answer="monthlyRevenueQuantity"
                            min-val="1"
                            max-val="9999999">
                    </etc-alert-input-question>
                </div>
            </div>
        </div>
        <div ng-show="home.revenues.monthlyRevenue == 3" class="row">
            <div class="col-sm-12">
                <label class="weightText">1.1 ¿Me podría indicar en cuál de estos tramos se ubica el ingreso total
                    mensual del hogar?</label>
                <br/>(Incluya ingresos provenientes del trabajo, jubilaciones, rentas, seguros de desempleo, becas,
                cuotas de alimentos, etc.)
                <br/><br/>

                <div class="alert alert-danger alertCard" role="alert">
                    Muestre tarjeta 1.
                </div>
                <br/>

                <div class="selectRevenue">
                    <select id="homeRevenueRange{{$index}}" name="homeRevenueRange"
                            ng-model="home.revenues.homeRevenueRange"
                            ng-options="question.value as question.name for question in homeRevenueRanges"
                            class="form-control"></select>
                </div>
            </div>
        </div>
    </form>
</div>