<div ng-controller="homeFinishedController">
    <div class="row">
        <div class="col-sm-12 homeFinished text-center">
            <div class="glyphicon glyphicon-thumbs-up"></div>
            <br/><br/>

            <h3>La encuesta para este hogar ha finalizado.</h3>
            <br/><br/>
        </div>
    </div>
    <div class="panel panel-default panelPadding">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info text-center">
                    <span class="weightText">Atención</span> No olvide pedir un teléfono de contacto antes de
                    retirarse de este hogar.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-left">
                <label for="telephone">Teléfono fijo</label>
                <br/>
                <input type="tel" id="telephone" name="telephone" ng-model="home.telephone" class="form-control"
                       ng-disabled="disablePhones()"/>
            </div>
            <div class="col-sm-4 text-left">
                <label for="mobilePhone">Teléfono celular</label>
                <br/>
                <input type="tel" id="mobilePhone" name="mobilePhone" ng-model="home.mobilePhone" class="form-control"
                       ng-disabled="disablePhones()"/>
            </div>
            <div class="col-sm-3">
                <div class="span" style="padding-top: 14px;">
                    <input type="checkbox" id="noPhone" name="noPhone" ng-model="home.noPhone"
                           ng-disabled="disableNoPhone()"/>
                    <label for="noPhone">No tiene teléfono</label>
                    <br/>
                    <input type="checkbox" id="noAnswerPhone" name="noAnswerPhone" ng-model="home.noAnswerPhone"
                           ng-disabled="disableNoAnswerPhone()"/>
                    <label for="noAnswerPhone">No lo quiere dar</label>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
</div>