<div ng-controller="homeComponentsController">
    <div class="row">
        <div class="col-sm-12">
            <h2>Componentes del hogar (CH)</h2>
        </div>
    </div>
    <br/>

    <form name="homeComponentForm">
        <accordion close-others="true">
            <accordion-group ng-repeat="person in home.people" is-open="open[$index]">
                <accordion-heading>
                    {{$index + 1}} {{getPersonTitle(person)}}
                    <span ng-class="validateHomeComponent(person)" class="glyphicon"></span>
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': open[$index], 'glyphicon-chevron-right': !open[$index]}"></i>
                    <a ng-click="deletePerson(person)" ng-hide="$first" class="pull-right red" style="padding: 0 10px;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </accordion-heading>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="name{{$index}}" class="weightText">1. Nombre de pila</label><br/><br/>
                                <input type="text" id="name{{$index}}" name="name{{$index}}"
                                       ng-model="person.homeComponent.name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="relation{{$index}}" class="weightText">
                                    2. ¿Cuál es la relación de parentesco con el/la jefe/a?
                                </label>

                                <div ng-switch="$first">
                                    <div ng-switch-when="true">
                                        1 Jefe/a
                                    </div>
                                    <div ng-switch-default>
                                        <select id="relation{{$index}}" name="relation{{$index}}"
                                                ng-model="person.homeComponent.idRelation"
                                                ng-options="relation.value as relation.name for relation in relations"
                                                class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="gender{{$index}}" class="weightText">3. ¿Es varón o mujer?</label>
                                <select id="gender{{$index}}" name="gender{{$index}}"
                                        ng-model="person.homeComponent.idGender"
                                        ng-options="opt.value as opt.name for opt in genderOptions"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="age{{$index}}" class="weightText">
                                    4. ¿Cuál es su edad en años cumplidos?
                                </label>
                                <etc-alert-input-question
                                        section="person.homeComponent"
                                        name="age{{$index}}"
                                        answer="age"
                                        min-val="0"
                                        max-val="120">
                                </etc-alert-input-question>
                                <div ng-show="$first && person.homeComponent.age < 14" class="alert alert-warning"
                                     role="alert">
                                    Atención: La edad mínima del Jefe/a es 14 años.
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="maritalStatus{{$index}}" class="weightText">5. ¿Actualmente está...</label>
                                <select id="maritalStatus{{$index}}" name="maritalStatus{{$index}}"
                                        ng-model="person.homeComponent.maritalStatus"
                                        ng-options="opt.value as opt.name for opt in maritalStatus"
                                        class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="attendEducational{{$index}}" class="weightText">
                                    6. ¿Asiste o asistió a algún establecimiento educativo?
                                </label>
                                <select id="attendEducational{{$index}}" name="attendEducational{{$index}}"
                                        ng-model="person.homeComponent.attendEducational"
                                        ng-options="opt.value as opt.name for opt in attendEducational"
                                        ng-change="attendEducationalChanged(person)" class="form-control"></select>
                            </div>
                        </div>
                        <br/>

                        <div class="row"
                             ng-show="person.homeComponent.attendEducational == 1 || person.homeComponent.attendEducational == 2">
                            <div class="col-sm-12">
                                <label for="highestEducationLevel{{$index}}" class="weightText">
                                    6.1. ¿Cuál es el nivel más alto que cursa o cursó?
                                </label>
                                <select id="highestEducationLevel{{$index}}" name="highestEducationLevel{{$index}}"
                                        ng-model="person.homeComponent.highestEducationLevel"
                                        ng-options="opt.value as opt.name for opt in educationalLevels"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <br/>

                        <div class="row"
                             ng-show="person.homeComponent.attendEducational == 1 || person.homeComponent.attendEducational == 2">
                            <div class="col-sm-12">
                                <label for="educationFinished{{$index}}" class="weightText">
                                    6.2. ¿Finalizó ese nivel?
                                </label>
                                <select id="educationFinished{{$index}}" name="educationFinished{{$index}}"
                                        ng-model="person.homeComponent.educationFinished"
                                        ng-options="opt.value as opt.name for opt in yesNoOptions"
                                        ng-disabled="person.homeComponent.attendEducational == 3"
                                        ng-change="educationFinishedChanged(person)" class="form-control"></select>
                            </div>
                        </div>
                        <br/>

                        <div class="row"
                             ng-show="person.homeComponent.educationFinished == 2">
                            <div class="col-sm-12">
                                <label for="lastEducationalGrade{{$index}}" class="weightText">
                                    6.3. ¿Cuál fue el último grado/año que aprobó?
                                </label>
                                <select id="lastEducationalGrade{{$index}}" name="lastEducationalGrade{{$index}}"
                                        ng-model="person.homeComponent.lastEducationalGrade"
                                        ng-options="opt.value as opt.name for opt in educationalGrades"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="weightText">7. ¿Está asociado a...</label>
                                <br/>

                                <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                                <etc-multi-check-question
                                        section="person.homeComponent"
                                        answer="socialSecurity"
                                        ng-name="'socialSecurity' + $index"
                                        questions="socialSecurity"></etc-multi-check-question>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/><br/><br/>
            </accordion-group>
        </accordion>
        <div class="row">
            <div class="col-sm-12 alert alert-danger">
                No olvide registrar todos los componentes del hogar antes de pasar al siguiente módulo.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button ng-click="addPerson()" role="button" class="btn btn-success">Agregar Componente</button>
            </div>
        </div>
    </form>
</div>