<div ng-controller="houseSpecificationsController">
    <div class="row">
        <div class="col-sm-10">
            <h2>Características de la vivienda (CV)</h2>
        </div>
    </div>
    <br/>

    <form name="houseSpecificationsForm">
        <div class="row">
            <div class="col-sm-6">
                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12">
                        <label class="weightText">1. Tipo de vivienda</label> (se completa por observación)
                        <etc-radio-question section="house.houseSpecifications" answer="houseType"
                                            answer-other="houseTypeOther" questions="houseType"></etc-radio-question>
                    </div>
                </div>
                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12">
                        <label class="weightText">2. ¿Cuál es el material predominante de los pisos?</label>
                        <etc-radio-question section="house.houseSpecifications" answer="floorMaterial"
                                            answer-other="floorMaterialOther" questions="floorMaterial"></etc-radio-question>
                    </div>
                </div>
                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12">
                        <label class="weightText">3. ¿Cuál es el material predominante de la cubierta exterior del techo?</label>

                        <etc-radio-question section="house.houseSpecifications" answer="roofExternalMaterial"
                                            answer-other="roofExternalMaterialOther" questions="roofExternalMaterial"></etc-radio-question>

                    </div>
                </div>
                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12">
                        <label class="weightText">4. En el techo, ¿tiene cielorraso / revestimiento interior?</label>

                        <div class="btn-group">
                            <label ng-model="house.houseSpecifications.roofInternalMaterial" btn-radio="true"
                                   class="btn btn-default">Si</label>
                            <label ng-model="house.houseSpecifications.roofInternalMaterial" btn-radio="false"
                                   class="btn btn-default">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12 ">
                        <label class="weightText">5. ¿Para cocinar, utiliza principalmente...</label>

                        <etc-radio-question section="house.houseSpecifications" answer="ovenType"
                                            answer-other="ovenTypeOther" questions="ovenType"></etc-radio-question>

                    </div>
                </div>
                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12">
                        <label class="weightText">6. ¿Tiene agua…</label>
                        <etc-radio-question section="house.houseSpecifications" answer="hasWater"
                                            questions="hasWater"></etc-radio-question>
                    </div>
                </div>

                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12">
                        <label class="weightText">7. ¿Obtiene agua a través de...</label>

                        <etc-radio-question section="house.houseSpecifications" answer="waterSupply"
                                            answer-other="waterSupplyOther" questions="waterSupply"></etc-radio-question>
                    </div>
                </div>

                <div class="row panel panel-default panelPadding">
                    <div class="col-sm-12">
                        <label class="weightText">8. ¿Tiene baño / letrina?</label>
                        <br/>

                        <div class="btn-group">
                            <label ng-model="house.houseSpecifications.hasBathroom" btn-radio="true"
                                   class="btn btn-default">Si</label>
                            <label ng-model="house.houseSpecifications.hasBathroom" btn-radio="false"
                                   class="btn btn-default">No</label>
                        </div>
                    </div>
                </div>
                <div ng-show="house.houseSpecifications.hasBathroom">
                    <div class="row panel panel-default panelPadding">
                        <div class="col-sm-12">
                            <label class="weightText">8.1. ¿El baño tiene...</label>

                            <div ng-repeat="question in toiletType | orderBy:value">
                                <input type="radio" id="toiletType{{$index}}" name="toiletType"
                                       ng-model="house.houseSpecifications.toiletType" ng-value="question.value"/>
                                <label for="toiletType{{$index}}">&nbsp;{{question.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row panel panel-default panelPadding">
                        <div class="col-sm-12">
                            <label class="weightText">8.2. ¿El desagüe del inodoro va...</label>

                            <div ng-repeat="question in toiletDrain | orderBy:value">
                                <input type="radio" id="toiletDrain{{$index}}" name="toiletDrain"
                                       ng-model="house.houseSpecifications.toiletDrain" ng-value="question.value"/>
                                <label for="toiletDrain{{$index}}">&nbsp;{{question.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>