<div id="page-wrapper">
    <div class="container">
        <etc-breadcrumbs></etc-breadcrumbs>
        <div class="row">
            <div class="col-sm-10">
                <h2>Viviendas</h2>
            </div>
        </div>

        <div class="row headList">
            <div class="col-sm-2 borderRight"><label>Nro</label></div>
            <div class="col-sm-4 borderRight"><label>Comentario</label></div>
            <div class="col-sm-4"><label>Herramientas</label></div>
        </div>
        <div ng-repeat="house in surveyAddress.houses" ng-class-even="'row-even'" ng-class-odd="'row-odd'"
             class="row survey">
            <div class="col-sm-2">
                Vivienda {{house.order}}
            </div>
            <div class="col-sm-4 marginInput">
                <input type="text" id="comment{{$index}}" name="comment{{$index}}" ng-model="house.comment"
                       class="form-control"/>
            </div>
            <div class="col-sm-3">
                <span ng-class="validate(house)" class="glyphicon"></span>

                <div class="btn-group">
                    <a href="#/areas/{{surveyAddress.address.idArea}}/{{surveyAddress.id}}/houses/{{house.order}}"
                       class="btn">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footerList"></div>
        <br/>
        <br/>

        <div class="row">
            <div class="col-sm-3">
                    <button ng-click="saveAndClose()" class="btn btn-danger">
                    <span class="glyphicon glyphicon-lock"></span>
                    Guardar y cerrar visita
                </button>
            </div>
        </div>
    </div>
</div>