<div id="page-wrapper">
    <div class="container">
        <etc-breadcrumbs></etc-breadcrumbs>
        <div class="row">
            <div class="col-sm-9">
                <h2>Domicilios</h2>
            </div>
            <div class="col-sm-3 text-right">
                <br/>
                <button ng-click="download()" ng-hide="true" class="btn btn-success">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    Excel
                </button>
            </div>
        </div>

        <div class="row headList">
            <div class="col-sm-5 borderRight"><label>Domicilio</label></div>
            <div class="col-sm-3 borderRight"><label>Visitas Realizadas</label></div>
            <div class="col-sm-3"><label>Herramientas</label></div>
        </div>
        <div ng-repeat="survey in surveys" ng-class="{'last-visited': lastVisited == survey.id}"
             ng-class-even="'row-even'" ng-class-odd="'row-odd'" class="row survey">
            <div class="col-sm-5">
                <a ng-click="openDetails(survey)">
                    {{survey.address.street}}
                    {{survey.address.streetNumber}}
                    {{survey.address.floor}}
                    {{survey.address.department}}
                </a>
            </div>
            <div class="col-sm-3">{{survey.visits ? survey.visits.length : 0}}</div>
            <div class="col-sm-3">
                <span ng-class="validate(survey)" class="glyphicon"></span>

                <div class="btn-group">
                    <a href="#/areas/{{survey.address.idArea}}/{{survey.id}}/details" class="btn">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </div>

                <span ng-show="survey.closed" class="glyphicon glyphicon-lock"></span>
            </div>
        </div>
        <div class="footerList"></div>
    </div>
</div>