<div ng-controller="individualTechnologyUsageController">
    <div class="row">
        <div class="col-sm-12">
            <h2>Uso de tecnología por cada uno de los integrantes del hogar (UT)</h2>
            <br/>

            <div class="alert alert-info" role="alert">
                Ahora voy a hacerle una serie de preguntas referidas al uso de tecnología por parte de los integrantes
                de este hogar que tienen 5 años o más.
            </div>
        </div>
    </div>
    <br/>

    <form name="individualTechnologyUsageForm">
        <div class="row" ng-show="existsPersonWithoutAge()">
            <div class="col-sm-10 col-sm-offset-1 alert alert-danger text-center">
                Existe un componente de este hogar sin edad asignada.
            </div>
        </div>
        <div class="row" ng-show="existsPersonOlderThanFive()">
            <div class="col-sm-10 col-sm-offset-1 alert alert-danger text-center">
                No se ingresaron componentes de hogar mayores de 5 años para este hogar.
            </div>
        </div>
        <accordion close-others="true">
            <accordion-group ng-repeat="person in home.people | filter: filterAgeGreaterThanFive"
                             is-open="open[$index]">
                <accordion-heading>
                    {{$index + 1}} {{getPersonTitle(person)}}
                    <span ng-class="validateTechnologyUsage(person)" class="glyphicon"></span>
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': open[$index], 'glyphicon-chevron-right': !open[$index]}"></i>
                </accordion-heading>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="weightText">1. En los últimos 3 meses, ¿utilizó un teléfono móvil (celular) para
                            uso personal? (incluye teléfonos móviles inteligentes y no inteligentes)</label>

                        <div class="btn-group">
                            <label ng-model="person.technologyUsage.mobileTelephoneUsage" btn-radio="1"
                                   class="btn btn-default">Sí</label>
                            <label ng-model="person.technologyUsage.mobileTelephoneUsage" btn-radio="2"
                                   class="btn btn-default">No</label>
                            <label ng-model="person.technologyUsage.mobileTelephoneUsage" btn-radio="3"
                                   class="btn btn-default">NS/NC</label>
                        </div>
                    </div>
                </div>
                <br/><br/>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="weightText">2. En los últimos 3 meses, excluyendo el uso de Internet, ¿utilizó
                            computadora, en su hogar o fuera de él?</label> (Incluye computadoras de escritorio,
                        portátiles y de mano)
                        <br/>

                        <div class="btn-group">
                            <label ng-model="person.technologyUsage.computerUsage" btn-radio="1"
                                   class="btn btn-default">Sí</label>
                            <label ng-model="person.technologyUsage.computerUsage" btn-radio="2"
                                   class="btn btn-default">No</label>
                            <label ng-model="person.technologyUsage.computerUsage" btn-radio="3"
                                   class="btn btn-default">NS/NC</label>
                        </div>
                    </div>
                </div>
                <br/><br/>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="weightText">3. En los últimos 3 meses, ¿utilizó Internet, en su hogar o fuera de
                            él?</label> (Incluye en computadoras de escritorio, portátiles y de mano)
                        <br/>

                        <div class="btn-group">
                            <label ng-model="person.technologyUsage.internetUsage" btn-radio="1"
                                   class="btn btn-default">Sí</label>
                            <label ng-model="person.technologyUsage.internetUsage" btn-radio="2"
                                   class="btn btn-default">No</label>
                            <label ng-model="person.technologyUsage.internetUsage" btn-radio="3"
                                   class="btn btn-default">NS/NC</label>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showInternetUsageFrequency(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.1. ¿Con qué frecuencia utilizó Internet?</label>

                        <div class="row" ng-repeat="question in internetUsageFrequency">
                            <div class="col-sm-12">
                                <input type="radio" id="internetUsageFrequency{{$parent.$index}}_{{$index}}"
                                       name="internetUsageFrequency{{$parent.$index}}"
                                       ng-model="person.technologyUsage.internetUsageFrequency"
                                       ng-value="question.value"/>
                                <label for="internetUsageFrequency{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showInternetUsagePlaces(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.2. En los últimos 3 meses, ¿utilizó Internet en…</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                ng-hide-question="person.homeComponent.age < 10"
                                section="person.technologyUsage"
                                answer="internetUsagePlaces" ng-name="'internetUsagePlaces' + $index"
                                questions="internetUsagePlaces"></etc-multi-check-question>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showInternetUsageReasons(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.3. En los últimos 3 meses, ¿utilizó Internet para…</label>
                        <br/>


                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                ng-hide-question="person.homeComponent.age < 10"
                                section="person.technologyUsage"
                                answer="internetUsageReasons" ng-name="'internetUsageReasons' + $index"
                                questions="internetUsageReasons"></etc-multi-check-question>
                    </div>
                </div>

                <div class="row" ng-show="showInternetNotUsageReasons(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">4. ¿Cuál es la principal razón por la que no utilizó
                            Internet?</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <div class="row" ng-repeat="question in internetNotUsageReasons">
                            <div class="col-sm-12">
                                <input type="radio" id="internetNotUsageReasons{{$parent.$index}}_{{$index}}"
                                       name="internetNotUsageReasons{{$parent.$index}}"
                                       ng-model="person.technologyUsage.internetNotUsageReasons[$index]"
                                       ng-value="question.value"/>
                                <label for="internetNotUsageReasons{{$parent.$index}}_{{$index}}">{{question.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showInternetUsageEducativeActivities(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.3.1. En relación a las actividades educativas, ¿utilizó Internet
                            para…</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                section="person.technologyUsage"
                                answer="internetUsageEducativeActivities"
                                ng-name="'internetUsageEducativeActivities' + $index"
                                questions="internetUsageEducativeActivities"></etc-multi-check-question>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showInternetUsageLeisureActivities(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.3.2. En relación a las actividades vinculadas con el
                            ocio/recreación, ¿utilizó Internet para…</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                section="person.technologyUsage"
                                answer="internetUsageLeisureActivities"
                                ng-name="'internetUsageLeisureActivities' + $index"
                                questions="internetUsageLeisureActivities"></etc-multi-check-question>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showInternetUsageBuyActivities(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.3.3. En relación a las actividades vinculadas a compras o ventas,
                            ¿utilizó Internet para…</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                section="person.technologyUsage"
                                answer="internetUsageBuyActivities" ng-name="'internetUsageBuyActivities' + $index"
                                questions="internetUsageBuyActivities"></etc-multi-check-question>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showInternetUsageStatalProcedureActivities(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.3.4. En relación a las actividades vinculadas a trámites con el
                            Estado, ¿utilizó Internet para…</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                section="person.technologyUsage"
                                answer="internetUsageStatalProcedureActivities"
                                ng-name="'internetUsageStatalProcedureActivities' + $index"
                                questions="internetUsageStatalProcedureActivities"></etc-multi-check-question>
                    </div>
                </div>
                <br/>

                <div class="row"
                     ng-show="showInternetUsageCommunicationActivities(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.4. En relación con las actividades vinculadas con la comunicación,
                            ¿utilizó Internet para…</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                section="person.technologyUsage"
                                answer="internetUsageCommunicationActivities"
                                ng-name="'internetUsageCommunicationActivities' + $index"
                                questions="internetUsageCommunicationActivities"></etc-multi-check-question>
                    </div>
                </div>
                <br/>

                <div class="row" ng-show="showComputerUsageVariousActivities(person.technologyUsage)">
                    <div class="col-sm-12">
                        <label class="weightText">3.5. En los últimos 3 meses ¿desempeñó actividades como...</label>
                        <br/>

                        <div class="txtAclaration">Seleccione las opciones que correspondan.</div>
                        <etc-multi-check-question
                                section="person.technologyUsage"
                                answer="computerUsageVariousActivities"
                                ng-name="'computerUsageVariousActivities' + $index"
                                questions="computerUsageVariousActivities"></etc-multi-check-question>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </form>
</div>