<div class="container">
    <div class="login">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/entic1.jpg" title="ENTIC" alt="ENTIC"/>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-12 text-center">
                <strong><h3>Encuesta Nacional sobre Acceso y Uso de Tecnologías<br/>de la Información y la Comunicación
                </h3></strong>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-12 text-left">
                <form class="form-signin" ng-submit="signin()">
                    <h2 class="form-signin-heading">entic</h2>
                    <br/>
                    <h4>Inicie sesión</h4>
                    <input type="text" id="username" name="username" ng-model="username" placeholder="Usuario" required
                           class="input-block-level">
                    <input type="password" id="password" name="password" ng-model="password" placeholder="Password"
                           requiredclass="input-block-level">

                    <p ng-show="invalidLogin" style="color:red;">
                        Usuario o password no válidos.
                    </p>
                    <br/>
                    <input type="submit" class="btn btn-large btn-primary" value="Ingresar"/>
                </form>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/logo2.png" title="INDEC" alt="INDEC"/><sup class="gray">1.1.0</sup>
            </div>
        </div>
    </div>
</div>