<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h2>Sincronizar con el servidor</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span ng-class="getServiceStatusClass(internetAccess)" class="glyphicon"></span> Conexion a internet
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span ng-class="getServiceStatusClass(serverOnline)" class="glyphicon"></span> Servidor online
        </div>
        <div class="col-sm-6 text-right">

        </div>
    </div>
    <br/>
    <br/>

    <div ng-show="updating" class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <progressbar class="progress-striped active" value="100">{{updateStatusMessage}}</progressbar>
        </div>
    </div>

    <div class="row">
        <div ng-show="updateRequired && !updating" class="col-sm-6 col-sm-offset-3 text-center">
            <button ng-click="update()" class="btn btn-sm btn-danger">Actualizar app</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            {{nonSyncedCount}} encuesta(s) a sincronizar
            <progressbar class="" type="{{syncProgressType}}" value="syncStatus"
                         ng-class="{'progress-striped active': syncWorking}">{{syncStatusMessage}}
            </progressbar>
        </div>
    </div>
    <br/>
    <br/>

    <div class="row">
        <div ng-show="serverOnline && !syncStatus" class="col-sm-6 col-sm-offset-3 text-center">
            <button ng-click="send()" class="btn btn-primary btn-lg">Sincronizar</button>
        </div>
    </div>
</div>